{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Joe's Blog</h1>
    <p class="lead">A blog webpage made using Django and PostreSQL.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="card-deck">
    {% for article in articles %}
    <div class="card">
        <img class="card"-img-top src="{{ article.image }}" style="height:auto;width:300px" alt="Card image cap" />        
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.body }}</p>
        </div>        
    </div>    
    {% endfor %}
</div>

{% endblock %}
